/* .main-container {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 12fr 1fr;
} */
    /* .main-header,
    .main-footer {
        background-color: #9d9b9b;
        display: grid;
        grid-template-columns: 1fr 6fr 2fr;
    } */
    /* .align-center{
    margin: 15px;
    border: 1px dashed #CCC;
} */
.row-one,
.row-two,
.row-three {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
}
.row-two {
    background-color: #f1f1f1;
}
.container-padding {
    margin: 12px;
    border: 1px dashed #a69f9f;
}
